@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%) !important;
}

.card {
    margin-top: 8rem;
}


.card-tag {
    letter-spacing: 2.5px;
    font-family: Monsterrat, sans-serif;
    font-size: x-small;
    opacity: 0.7;
    color: hsl(212, 21%, 14%);
}

.card-title {
    font-family: Fraunces, sans-serif;
    font-weight: 700;
    width: 13rem
}

.card-text {
    font-size: 14px;
    width: 13rem;
    color: hsl(228, 12%, 48%);
}

.prize {
    display: flex;
}

.card-prize {
    font-family: Fraunces, sans-serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}

.text-muted {
    position: relative;
    top: 0.7rem;
    left: 1.1rem;
}

.btn {
    background-color: hsl(158, 36%, 37%) !important;
    border: none;
    width: 13.5rem;
    height: 6.5vh;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: hsl(120, 41%, 11%) !important;
}

svg {
    position: relative;
    bottom: 0.2rem;
    right: 0.3rem;
}

@media (max-width: 991.98px) { 
    .card-container {
        width: 320px;
    
    }
    
    .img-custom {
        width: 686px;
        height: 280px;
        border-bottom-left-radius: 0px !important;
        border-top-right-radius: 5px !important;
    }

    .title {
        width: 18rem;
    }

    .text {
        width: 15.9rem;
    }

}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 8rem;
}

.attribution a { 
    color: hsl(158, 36%, 37%); 
}